@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --white-principal: #FFFFFF;
  --gray-secondary: #C0C0C0;
  --button-blue: #167BF7;
  --button-blue-effect: #6498ff;
  --background: #00030C;
  --fonte-principal: 'Inter';
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--white-principal);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.principal {
  height: 100vh;
  align-items: center;
  background-image: url(./Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}


.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__title {
  font-size: 28px;
}

.container__button {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  background-color: var(--button-blue);
  border-radius: 5px;
  padding: 1em;
  color: var(--white-principal);
}

.container__image {
  margin: 1em 0 2em 0;
}

.button__secondary {
  background-color: transparent;
  border: 2px solid var(--white-principal);
}

.container__aviso {
  font-size: 12px;
  color: var(--gray-secondary);
}

.container__box {
  margin: 2em 6em;
}


.secondary {
  align-items: center;
  margin: 5em 7em;
}

.secondary__image {
  width: 80%;
}

.description__title {
  font-weight: 700;
  font-size: 48px;
  color: var(--white-principal);
  margin-bottom: 0.1em;
}

.description__text {
  color: var(--gray-secondary);
}

.secondary__button {
  display: inline-block;
  margin-top: 1em;
}

.container__description {
  padding: 2em;
}

.devices {
  margin: 5em 7em;
  text-align: center;
}

.devices__title {
  font-size: 48px;
  color: var(--white-principal);
}

.devices__list {
  margin: 5em 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.list__item {
  font-size: 32px;
  color: var(--white-principal);
}

.foot {
  margin: 6em 10em 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot__logo {
  width: 10%;
}

.foot__list {
  display: flex;
  gap: 1em;
  list-style-type: none;
  margin: 4em 0;
}

.list__link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--white-principal);
}

.list__link:hover {
  color: var(--button-blue);
}

.foot__text {
  text-align: center;
  color: var(--gray-secondary);
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 21px;
}

.container__button:hover {
  background-color: var(--button-blue-effect);
  color: var(--background);
  font-weight: 600;
  font-size: 15.7px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    background-image: none;
    height: auto;
  }

  .container__image {
    width: 50vw;
  }

  .container__box {
    margin: 3em 2em;
    text-align: center;
  }

  .secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 2em;
  }

  .description__title {
    margin-bottom: 0.5em;
  }

  .description__text {
    margin-bottom: 1em;
  }

  .container__description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .reverse-image {
    flex-direction: column-reverse;
  }

  .description__title {
    font-size: 42px;
  }

  .devices__title {
    font-size: 36px;
  }

  .devices {
    margin: 2em;
  }

  .devices__list {
    flex-direction: column;
    margin: 1.5em;
  }

  .list__item {
    font-size: 24px;
  }

  .devices__list img {
    height: 9rem;
  }

  .foot__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot {
    margin: 0;
    padding: 0.5em;
    justify-content: center;
  }

}